@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  -webkit-clip-path: inset(100);
          clip-path: inset(100);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.container__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.container__benefits {
  margin-bottom: 94px;
}
.container__projects {
  margin-bottom: 94px;
}
.container__team {
  margin-bottom: 94px;
}
.container__clients {
  margin-bottom: 94px;
}
.container__footer {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container__portfolio {
  margin-bottom: 94px;
}

section {
  padding-top: 0px;
  padding-bottom: 0px;
  z-index: 3;
}

.button {
  border: none;
  border-radius: 4px;
  padding: 10px 22px;
  min-width: 73px;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
  /* font-family: inherit; для унаследования свойства кнопкой */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  text-align: center;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1), color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__primary {
  color: #ffffff;
  background-color: #2196f3;
}
.button__primary--icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__secondery {
  color: #212121;
  background-color: #F5F4FA;
}
.button:hover {
  cursor: pointer;
}
.button__icon-footer {
  margin-left: 10px;
}
.button__secondery--bar:hover, .button__secondery--bar:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.header {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ECECEC;
  z-index: 2;
}
.header__flex {
  display: flex;
  align-items: center;
}

.logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  text-decoration: none;
}
.logo__header {
  margin-right: 85px;
  color: #212121;
}
.logo__footer {
  color: #ffffff;
}

.mein-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--current {
  color: #2196f3;
}
.site-nav__link--current:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contact .item:not(:last-child) {
  margin-right: 30px;
}
.contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  fill: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__icon {
  margin-right: 10px;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__box:hover .contact__link, .contact__box:focus .contact__link {
  color: #2196f3;
}
.contact__box:hover .contact__icon, .contact__box:focus .contact__icon {
  fill: #2196f3;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero-bk.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.hero__title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 200px;
  padding-bottom: 30px;
  color: #ffffff;
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.benefits {
  display: flex;
}
.benefits__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}
.benefits__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
}
.benefits__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71em;
}

.benefits__list {
  display: flex;
}
.benefits__list .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.benefits__list .item:nth-child(4n) {
  margin-right: 0px;
}

.projects {
  display: flex;
}
.projects__list {
  display: flex;
  align-items: center;
}
.projects__examples {
  position: relative;
  display: flex;
}
.projects__title {
  position: absolute;
  text-align: center;
  bottom: 27px;
  width: 370px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
}

.projects__examples::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  opacity: 1;
}

.projects .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.projects .item:nth-child(3n) {
  margin-right: 0px;
}

.team {
  display: flex;
}
.team__list {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
}
.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
}
.team__position {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19em;
}

.team__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team__item:nth-child(4n) {
  margin-right: 0px;
}

.networks {
  display: flex;
  justify-content: center;
}
.networks__team {
  margin-bottom: 20px;
}

.networks__item {
  margin-right: 10px;
}
.networks__item__item:nth-child(4n) {
  margin-right: 0px;
}

.networks__link {
  display: flex;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover, .networks__link:focus {
  background-color: #2196f3;
}
.networks__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.networks__icon {
  width: 20px;
  height: 20px;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover .networks__icon {
  fill: #ffffff;
}
.networks__icon--team {
  fill: #AFB1B8;
}
.networks__icon--footer {
  fill: #ffffff;
}

.clients__link {
  width: 170px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  fill: #AFB1B8;
  background-color: #ffffff;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1), fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__list {
  display: flex;
}

.clients__item {
  width: calc((100% - 120px) / 5);
  margin-right: 30px;
}
.clients__item :nth-child(6n) {
  margin-right: 0px;
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
}
.footer__logo-address {
  display: flex;
  flex-wrap: wrap;
  margin-right: 69px;
}
.footer__address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71em;
}
.footer__contact {
  color: #757575;
  font-weight: 500;
}
.footer__networks {
  display: flex;
  flex-wrap: wrap;
}
.footer__call {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71em;
  text-transform: uppercase;
}
.footer__form {
  display: flex;
  flex-wrap: wrap;
}
.footer__form input {
  width: 358px;
  margin-right: 12px;
  padding: 14px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.24em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 4;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
  /*при scale всегда нужно учитывать translate (-50%, -50%)
  в противном случаи окно будет сесжать */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button {
  position: relative;
  display: flex;
  margin-top: 7px;
  margin-right: 16px;
  margin-bottom: 3px;
  margin-left: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #AFB1B8;
}
.modal__button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  fill: #000000;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover {
  cursor: pointer;
}
.modal__button:hover .modal__button-icon {
  fill: #2196f3;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 40px 40px;
}
.form__call {
  margin-bottom: 30px;
}
.form label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__field {
  position: relative;
  display: flex;
}
.form__field:not(:last-child) {
  margin-bottom: 50px;
}
.form__field input {
  width: 448px;
  padding: 14px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 350ms cubic-bezier cubic-bezier(0.4, 0, 0.2, 1) 350ms, left 350ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field input:not(:-moz-placeholder-shown) + label {
  left: 18px;
  transform: translateY(-48px);
  color: #2196f3;
  -moz-transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), left 350ms cubic-bezier(0.4, 0, 0.2, 1) 350ms, color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), left 350ms cubic-bezier(0.4, 0, 0.2, 1) 350ms, color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field input:not(:-ms-input-placeholder) + label {
  left: 18px;
  transform: translateY(-48px);
  color: #2196f3;
  -ms-transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), left 350ms cubic-bezier(0.4, 0, 0.2, 1) 350ms, color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), left 350ms cubic-bezier(0.4, 0, 0.2, 1) 350ms, color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field input:focus + label, .form__field input:not(:placeholder-shown) + label {
  left: 18px;
  transform: translateY(-48px);
  color: #2196f3;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), left 350ms cubic-bezier(0.4, 0, 0.2, 1) 350ms, color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field input:hover + label {
  color: #2196f3;
}

.form__field input:hover {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field input:focus ~ .form__icon, .form__field input:hover ~ .form__icon {
  fill: #2196f3;
}

.form__commit {
  position: relative;
  margin-bottom: 20px;
}
.form__commit textarea {
  resize: none;
  width: 448px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__commit textarea:hover {
  border: 1px solid #2196f3;
  cursor: pointer;
}
.form__commit label {
  position: absolute;
  top: 12px;
  left: 16px;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__commit textarea:not(:-moz-placeholder-shown) + label {
  transform: translateY(-36px);
  color: #2196f3;
}
.form__commit textarea:not(:-ms-input-placeholder) + label {
  transform: translateY(-36px);
  color: #2196f3;
}
.form__commit textarea:focus + label, .form__commit textarea:not(:placeholder-shown) + label {
  transform: translateY(-36px);
  color: #2196f3;
}
.form__commit textarea:hover + label {
  color: #2196f3;
}

.form__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.form__checkbox:hover {
  cursor: pointer;
}

/* Скрываем стандартный чекбокс */
.checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  -webkit-clip-path: inset(100);
          clip-path: inset(100);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox__icon {
  position: absolute;
  margin-right: 8px;
  fill: #ffffff;
  border: 2px solid #212121;
}
.checkbox__text {
  margin-left: 22px;
  margin-right: 4px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.checkbox__link {
  color: #2196f3;
}

.checkbox:checked + .checkbox__icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-size: contain;
  background-origin: content-box;
}

.examples {
  display: flex;
}
.examples__list {
  display: flex;
  flex-wrap: wrap;
}
.examples__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
}
.examples__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples__item:nth-child(3n) {
  margin-right: 0px;
}
.examples__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}
.examples__link {
  text-decoration: none;
}

.button-bar {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 54px;
}

.product {
  position: relative;
  overflow: hidden;
}
.product:before {
  content: "";
  position: absolute;
  transform: translateY(101%);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__item:hover .product::before {
  transform: translateY(0%);
}
.product__title {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 24px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
}
.product__text {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 24px;
  color: #757575;
  font-size: 16px;
  line-height: 1.87em;
}

.product__descriptions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56em;
  opacity: 0;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__item:hover .product__descriptions {
  opacity: 1;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1) 350ms;
}/*# sourceMappingURL=main.css.map */