.logo {
  color: $accent-color;

  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;

  text-decoration: none;

  &--header {
    margin-right: 85px;

    color: $primary-text-color;
  }

  &--footer {
    color: $primary-white-color;
  }
}
